# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
#include<stdio.h>
void main()
{
 double s=0,p=1,i;
 for(i=1;i<=20;i++)
 {
  p*=i;
  s+=p;
 }
 printf("%lf\n",s);
}
